/************ Accordion menu ************/
ul.accordion-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0px solid #E2E2E2;
  border-radius: 0px 0px 0px 0px;
  padding: 0px;
  /*margin: 3px 6px;*/
  background:#1A354F;
}
ul.accordion-menu li{
  background: url("../images/menu_separate.png") repeat-x scroll 0 bottom transparent;
  color: white;
  text-shadow:1px 0 0 rgba(255, 255, 255, 0.1);
  font-size:13px;
}

ul.accordion-menu li.level2 {
  color: white;
  text-shadow:1px 0 0 rgba(255, 255, 255, 0.1);
}

ul.accordion-menu li.level2 div.toggler:hover,
ul.level2 li.level2:hover{ 
  background: #4C99D2;
  color: #FFF !important; 
  text-shadow: none;
  background-image: -moz-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#54b4eb),to(#2fa4e7));
  background-image: -webkit-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -o-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: linear-gradient(to  bottom,#1A354F,#e54c4c);
  
}
ul.accordion-menu li a{
  line-height: 20px;
  color: inherit !important;
  display: block;
  text-decoration: none !important;
}

ul.accordion-menu li.level1 div.toggler:hover,
ul.level2 li:hover{ 
  background: #4C99D2;
  color: #FFF !important; 
  text-shadow: none;
  background-image: -moz-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#54b4eb),to(#2fa4e7));
  background-image: -webkit-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -o-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: linear-gradient(to bottom,#205081,#205081);
}
ul.accordion-menu li.current div.toggler{ 
  background-color: #45aeea;
  background-image: -moz-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#54b4eb),to(#2fa4e7));
  background-image: -webkit-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: -o-linear-gradient(top,#54b4eb,#2fa4e7);
  background-image: linear-gradient(to bottom,#205081,#205081);
  color: #ffffff;
 
}
ul.accordion-menu li div.toggler{
  min-height: 20px;
  padding: 5px 12px;
}
ul.accordion-menu li.current span.arrow{ background-position: -9px -6px;}
ul.accordion-menu li.current.active span.arrow{background-position: -9px -36px;}
ul.accordion-menu li.active span.arrow{background-position: -9px -96px;}
ul.accordion-menu li span.arrow{
  background-image: url("../images/menu_arrows.png");
  clear:right;
  float: right;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: -8px -66px; 
  cursor: pointer;
}
ul.accordion-menu li span.menu_icon{
  float: left;
  height: 14px;
  width: 14px;  
  margin:2px 4px 0 0;
}
ul.accordion-menu li ul.level2{
  margin: 0;
  padding: 0;
  list-style: none;
  background: url("../images/menu_separate.png") repeat-x scroll 0 top transparent;
}
ul.accordion-menu li ul.level2 li{
  height: 20px;
  padding: 2px 0 2px 35px;
  font-size:13px;
}
ul.accordion-menu li ul.level2 li.active a{
  font-size : 13px;
  font-weight: bold;
  text-shadow: none;
}

.content {

  position: relative;
  transition: all .3s ease-in-out;
  padding: 10px 20px 0px 80px;
  
}

.navigation {
  background: #35403c;
  height: 70%;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 5;
}
.navigation, .navigation a {
  color: white;
}
.navigation.expanded {
  background: #1e2422;
  box-shadow: 100px 0 200px 200px rgba(0, 0, 0, 0.3);
}
.navigation.expanded + .content {
  transform: translate3d(50px, 0, 0) rotateY(-30deg);
  transform-origin: 90% 50%;
  transform-style: preserve-3d;
}

.nav-toggler {
  display: inline-block;
  font-size: 20px;
  left: 100%;
  padding: .5em;
  position: absolute;
  text-decoration: none;
}
.nav-toggler span {
  position: relative;
  z-index: 5;
}
.nav-toggler .hide-nav {
  display: none;
}
.expanded .nav-toggler .show-nav {
  display: none;
}
.expanded .nav-toggler .hide-nav {
  display: inline-block;
}
.expanded .nav-toggler:after {
  border-color: #1e2422 transparent transparent transparent;
}
.nav-toggler:after {
  border-style: solid;
  border-width: 70px 65px 0 0;
  border-color: #35403c transparent transparent transparent;
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: border-color .3s ease-in-out;
  width: 0;
}

.navigation__inner {
  font-size: 20px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  width: 0;
}
.expanded .navigation__inner {
  display: block;
  width: 220px;
}

/********** End accordion menu **********/